GCF_009914755.1_T2T-CHM13v2.0_genomic.fna filter=lfs diff=lfs merge=lfs -text
GCF_009914755.1_T2T-CHM13v2.0_chr6_chr10.fasta filter=lfs diff=lfs merge=lfs -text
*fna filter=lfs diff=lfs merge=lfs -text
examples/data/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna filter=lfs diff=lfs merge=lfs -text
*.fasta filter=lfs diff=lfs merge=lfs -text
